#lawHeader 
{
    font-family : "Songti TC" , "Noto Sans" , "Noto Serif TC" , "Noto Serif JP" , "Noto Serif SC" , sans-serif ; 
    background : #0001 ; 
    margin-top : 1rem ; 
    padding-top : 1rem ; 
    padding-left : .15rem ; 
    font-size : 1.15rem ; 
    border-top-right-radius : 8px ; 
    border-top-left-radius : 8px ; 
}
#lawHeader li 
{
    display : flex ; 
}
#lawHeader li span:first-child 
{
    flex-shrink : 0 ; 
    text-align : right ; 
    width : 7rem ; 
}
#lawHeader li span:last-child 
{
    text-align : left ; 
}
#lawHeader li span ul 
{
    margin-left : 1rem ; 
    list-style-type : disc ; 
}
#lawHeader li span li 
{
    display : list-item ; 
    list-style : disc ; 
}
#mainC 
{
    background : #00000005 ; 
    border-bottom-right-radius : 8px ; 
    border-bottom-left-radius : 8px ; 
}
#lawHeader .legislativeHistory 
{
    text-align : left ; 
    font-size : 1.15rem ; 
}
#lawHeader .legislativeHistory::before 
{
    content : '' ; 
}
#lawHeader .legislativeHistory li 
{
    display : flex !important ; 
}
#lawHeader .legislativeHistory li span:first-child 
{
    flex-shrink : 0 ; 
    width : fit-content ; 
}