table 
{
    text-align : center ; 
    width : 100% ; 
}
table a , table a:visited 
{
    color : #000 ; 
}
tr 
{
    border-bottom : 1px solid #000 ; 
    margin : .2rem ; 
}
td 
{
    margin : .25rem .5rem ; 
}
.pq form 
{
  height : 2rem ; 
  display : flex ; 
  justify-content : center ; 
  align-items : center ; 
}
.pq form input:first-child 
{
  height : 2rem ; 
  border-radius : 1rem ; 
  border : 1px solid #000 ; 
  outline : 0 ; 
}
.pq form input:first-child::placeholder 
{
  font-family : "Noto Sans TC" ; 
  font-weight : 500 ; 
  opacity : .65 ; 
  text-indent : .5rem ; 
}
.p thead th 
{
    padding-bottom : .25rem ; 
}
.p h1 
{
    font-family : "Noto Sans Display" , "Noto Serif TC" ; 
}
.p tr td:first-child 
{
    width : 2em ; 
}
.p tr td:nth-child(2) 
{
    text-align : left ; 
    padding-left : .5rem ; 
}
@media ( min-width : 768px ) 
{
    .p tr td:nth-child( 2 ) 
    {
        text-align : center ; 
        padding : 0 ; 
    }
}
.p tr td:last-child 
{
    width : 4em ; 
}
dt 
{
    font-weight : 700 ; 
    font-size : 1.15rem ; 
}
/* dd 
{
    font-size : 1.25rem ; 
} */
.ex-link 
{
    width : 1em ; 
    height : 1em ; 
    flex-shrink : 0 ; 
}
.c tr td:first-child 
{
    width : 7.5em ; 
    height : 3em ; 
}
.c tr td:nth-child(2) 
{
    width : 5em ; 
}
.c tr td:last-child 
{
    width : 4em ; 
}
.cd h4 
{
    font-size : 20px ; 
}
.cd h5 
{
    font-size : 16px ; 
    font-weight : 500 ; 
}
.cd h6 
{
    font-size : 14px ; 
    font-weight : 300 ; 
}
.cd > dl > dd , .cd.r , .cd.o 
{
    display : flex ; 
    align-items : center ; 
}
.cd > dl > dd::before , .cd.r::before , .cd.o::before 
{
    content : '　' ; 
    flex-shrink : 0 ; 
}

form 
{
    height: 2rem;
}
.pq , .cq 
{
    margin : 1.5rem auto ; 
}
@media ( min-width : 768px ) 
{
    .pq , .cq 
    {
        margin-bottom : 2.5rem ; 
    }
}
.pq input:first-child , .cq input:first-child 
{
    width: calc(100% - 28px);
    height: 2rem;
    border-radius: 1rem;
    border: 1px solid #000 ; 
    outline: 0;
}
.pq input:first-child::placeholder , .cq input:first-child::placeholder 
{
    font-family: "Noto Sans TC";
    font-weight: 500;
    opacity: .65;
    text-indent: .5rem;
}
.pq p , .cq p 
{
    position : relative ; 
}
.pq input:last-child , .cq input:last-child 
{
    position : absolute ; 
    top : calc(1rem - 12px) ; 
    right : 5px ; 
}
a:has( .ex-link ) 
{
    display : flex ; 
    flex-wrap : nowrap ; 
    align-items : center ; 
}

.l tbody , .l tbody tr 
{
    display : inline-flex ; 
    flex-direction : column ; 
}