:root 
{
    --header-bg : #057b7b ; 
    --header-top-bg : #135858 ; 
    --header-hr : #5ca9a9 ; 
    --header-a : #fff ; 
    --header-a-hover : #fc0 ; 
    --header-a-focus : #fc0 ; 
    --selection-color : #fff ; 
    --selection-bg : #000 ; 
}