@page "/"

<PageTitle>首頁 - 臺中市立臺中第一高級中等學校學生自治聯合會法規資料庫</PageTitle>

<div class="bread">
    <span>現在位置：</span>
    <ul>
        <li>首頁</li>
    </ul>
</div>
<div class="latest">
    <h1>最新消息</h1>
    <ul>
        <li>中華民國114年04月09日學生議會第二會期第二次常會通過《臺中市立臺中第一高級中等學校學生自治聯合會學生代表會組織及職權行使法》及《臺中市立臺中第一高級中等學校學生自治聯合會學生代表會一般代表選舉罷免法》草案。</li>
    </ul>
</div>
