@page "/parties"
@inject HttpClient Http
@inject NavigationManager N

<PageTitle>政黨查詢 - 臺中市立臺中第一高級中等學校學生自治聯合會法規資料庫</PageTitle>

<div class="bread">
    <span>現在位置：</span>
    <ul>
        <li><a href="">首頁</a></li>
        <li>政黨查詢</li>
    </ul>
</div>
<form action="parties" method="get" class="pq">
    <p>
        <input type="search" placeholder="輸入關鍵字以搜尋政黨" name="q" />
        <input type="submit" style="background-image:url(i/icon/search.svg);width:24px;height:24px;background-color:#0000;border:0;cursor:pointer;" value="" alt="搜尋！" />
    </p>
</form>
@if (p == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="p">
        <thead>
            <tr>
                <th>編號</th>
                <th>政黨名稱</th>
                <th>負責人</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var partiess in p[0].Parties)
            {
                <tr>
                    <td><a href="parties/detail?party=@partiess.Party&q=@a">@partiess.Party</a></td>
                    <td><a href="parties/detail?party=@partiess.Party&q=@a">@partiess.PartyName</a></td>
                    <td>@partiess.Chairman</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Py[]? p;
    private string a;
    protected override void OnInitialized()
    {
        var uri = N.ToAbsoluteUri(N.Uri);
        var queryStrings = QueryHelpers.ParseQuery(uri.Query);
        if (queryStrings.TryGetValue("q", out var aaa))
        {
            a = aaa;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        p = await Http.GetFromJsonAsync<Py[]>("json/parties.json");
    }

    public class Py
    {
        public string UpdateDate { get; set; }
        public P[]? Parties { get; set; }
    }
    public class P 
    {
        public int Party { get; set; }
        public string PartyName { get; set; }
        public string? PartyAbbreviation { get; set; }
        public string Chairman { get; set; }
        public string PartyState { get; set; }
        public string? PartyEstablishedDate { get; set; }
        public string? PartyRegisteredDate { get; set; }
        public string? PartyURL { get; set; }
    }
}
