@page "/print"
<PageTitle>法規彙編列印 - 臺中市立臺中第一高級中等學校學生自治聯合會法規資料庫</PageTitle>
<div class="bread">
    <span>現在位置：</span>
    <ul>
        <li><a href="">首頁</a></li>
        <li>法規彙編列印</li>
    </ul>
</div>